@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.navbar {
    background-color: rgb(0,0,0, 0.6);
}

#sobre {
    background-color: rgb(175,255,238);
}

#datas {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.table thead tr th {
    padding: 3px;
    vertical-align: middle;
    display: table-cell;
}
.table tbody tr td {
    padding: 0px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#informacoesNutricionais {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 85px;
}

#fotos {
    width: 100%;
    height: auto;
    min-height: 605px;
    padding-top: 85px;
}

#links {
    width: 100%;
}

.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#rodape {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0, 0.6);
}

.titulos-rodape {
    font-size: 16px;
    margin-top: 10px;
    color:white;
}

.devsite {
    background-color: rgb(0, 0, 0, 0.7);
}

.devsite h6{
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 3px;
}
